@model my_portfolio_MVC.Models.Tbl_Socials  
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Yeni Sosyal Medya Ekleme Sayfasına Hoş geldiniz...</h2>
<br />  
<form method="post">
    <label>Adı</label>
    <input type="text" name="name" class="form-control" />
    <br />
    <label>Url</label>
    <input type="text" name="url" class="form-control" />
    <br />  
    <button class="btn btn-outline-success">Ekle</button>
</form>

