@model my_portfolio_MVC.Models.Tbl_Expertises   
@{
    ViewBag.Title = "CreateExpertise";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Yeni Bir Uzmanlık Alanı Ekle</h2>
<br />
<form method="post">
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Ekle</button>

</form>


